<div class="container mt-5">
  <div class="row justify-content-center">
    <h1 class="mb-5 ">請輸入你的支出</h1>
  </div>
  <div class="container mt-2">
    <form action="/records" method="POST">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">名稱：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" required="required">
        </div>
      </div>

      <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">日期：</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="date" name="date" required="required">
        </div>
      </div>

      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">類別：</label>
        <div class="col-sm-10">
          <select class="form-control" id="category" name="category" required="required">
            <option value="">Select</option>
            {{#each categories}}
            <option value="{{this.categoryName}}">{{this.categoryName}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="merchant" class="col-sm-2 col-form-label">商家：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="merchant" name="merchant">
        </div>
      </div>

      <div class="form-group row">
        <label for="amount" class="col-sm-2 col-form-label">金額：</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="amount" name="amount" required="required">
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-primary mb-2">新增支出</button>
      </div>
    </form>
  </div>
</div>